<!DOCTYPE html>
<html lang="en">
<head>
    <title>Artefak Gacor</title>
    <style>
        /* Style your artifact display as you see fit, dear Traveler. */
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f0f0f0;
            text-align: center;
            padding: 20px;
        }
        
        .artifact-info {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        
    </style>
</head>
<body>
    <div class="artifact-info">
        <h1>Artefak Gacor </h1>
        <p>Name: {{name}}</p>
        <p>Part: {{part}}</p>
        <p>Amount: {{amount}}</p>
        <p>Description: {{description}}</p>
        <br>
        <h2>NFT For Sale(Ad)</h2>
        <img src="{{img}}" height="300px" width="300px" alt="valued at 10000000 USD">
        <p>Country: {{country}} | {{emoji}}</p>
        <p>Continent: {{continent}}</p>
        <p>Price: {{price}} ETH</p>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Click here to buy</a>
    </div>
</body>
</html>
